<h1> <%=first_n.capitalize%> <%=last_n.capitalize%> Please Enter Your Age </h1> 
<form method = "post" action = "age"> 
     <input type ="number" name = "age">  <!--<<<<think params!!!-->
     <input type = "submit" value = "submit">    
     <input type = "hidden" name = "first_nam" value = "<%=first_n%>">
     <input type = "hidden" name = "last_nam" value = "<%=last_n%>">
</form>