<h1> <%=first_name.upcase%> Please Enter Last Name </h1> 
<form method = "post" action = "l_name"> 
     <input type ="text" name = "last_nam">  <!--<<<<think params!!!-->
     <input type = "submit" value = "submit">    
     <input type = "hidden" name = "first_nam" value = "<%=first_name%>">
</form>